*.interp
*.tokens
.DS_Store
.antlr/
.idea/
xcuserdata/
project.xcworkspace/
/*.xcodeproj
/.build
/.swiftpm
/Vendor/antlr4-graphql-grammar
/antlr4.jar
GraphQL.interp
GraphQL.tokens
GraphQLLexer.interp
GraphQLLexer.tokens
